doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")

    title= pag

    link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

    link(href="/stylesheets/cover.css", rel="stylesheet")
  body
    div(class="site-wrapper")
      div(class="site-wrapper-inner")
        div(class="cover-container")
          div(class="masthead clearfix")
            div(class="inner")
              h2(class="masthead-brand")= title
              nav
                ul(class="nav masthead-nav")
                  block menu
              if logged
                h3(class="username") #{username}-
                  a(href="/perfil") Perfil
                  br
                  a(href="/logout") Logout

          div(class="inner cover")
            block contenido

          div(class="mastfoot")
            div(class="inner")
              p Tu Pensum, 2017