extends layout

block contenido
  h1(class="cover-heading") Opiniones
  a(href="/opiniones/opinion/nueva" class="btn btn-lg btn-plus") Nueva opinión
  div(id="table-wrapper")
    div(id="table-scroll")
      table
        thead
          tr
            th Materia
            th Universidad
            th Dificultad
            th Tiempo
            th Detalle
        tbody
          each opinion in data
            tr
              td= opinion.nombreMateria
              td= opinion.nombreUniversidad
              td= opinion.calificacionDificultad
              td= opinion.calificacionTiempo
              td
                a(href="/opiniones/"+opinion.idOpinion class="btn btn-lg btn-plus") +

block menu
  li
    a(href="/") Home
  li
    a(href="/materias") Materias
  li(class="active")
    a(href="#") Opiniones
  li
    a(href="/pensum") Pensum