extends layout

block contenido

  form(class="form-signin" action="" method="post")
    h2(class="form-signin-heading") Sign in
    input(type="text" id="txtUserName" name="txtUserName" class="form-control" placeholder="Usuario" required="" autofocus="")
    br
    br
    input(type="password" id="txtPassword" name="txtPassword" class="form-control" placeholder="Contraseña" required="")
    br
    br
    button(id="btnSignIn" class="btn btn-lg btn-default" type="submit") Sign in    
  p(class="errorMessage")= errorMessage

block menu
  li
    a(href="/") Home
  li
    a(href="/materias") Materias
  li
    a(href="/opiniones") Opiniones
  li
    a(href="/pensum") Pensum